# ===== Конфигурация Авториза =====
AUTHORIZA_ISSUER_URL=https://oidc.authoriza.ru/oidc
AUTHORIZA_AUTH_URL=https://oidc.authoriza.ru/oidc/auth
AUTHORIZA_TOKEN_URL=https://oidc.authoriza.ru/oidc/token
AUTHORIZA_LOGOUT_URL=https://oidc.authoriza.ru/oidc/session/end

# ===== Локальный сервер =====
REDIRECT_URI=http://localhost:8080/
