# ===== Конфигурация Авториза =====
AUTHORIZA_ISSUER_URL=https://a-kalinin-authoriza-backend-stand-d37a.twc1.net/oidc
AUTHORIZA_AUTH_URL=https://a-kalinin-authoriza-backend-stand-d37a.twc1.net/oidc/auth
AUTHORIZA_TOKEN_URL=https://a-kalinin-authoriza-backend-stand-d37a.twc1.net/oidc/token
AUTHORIZA_LOGOUT_URL=https://a-kalinin-authoriza-backend-stand-d37a.twc1.net/oidc/session/end

# ===== Покальный Сервер =====
REDIRECT_URI=http://localhost:8080/
